@charset "utf-8";

body {
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  font-family: "Open Sans", Arial, sans-serif;
}

h1 {
  font-size: 47px;
  line-height: normal;
  font-weight: 900;
  font-family: "Gilroy", Arial, sans-serif;
}

.filter__title {
  font-size: 16px;
  line-height: normal;
  font-weight: 900;
  font-family: "Gilroy", Arial, sans-serif;
}
